<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="b_replyMapper">

	<resultMap type="B_Reply" id="resultB_Reply">
		<id column="brid" property="brid" />
		<result column="brcontent" property="brcontent" />
		<result column="b_ref_bid" property="b_ref_bid" />
		<result column="bruser" property="bruser"/>
		<result column="br_date" property="br_date" />
		<result column="br_modify_date" property="br_modify_date" />
		<result column="br_status" property="br_status" />
	</resultMap>

	<select id="selectadminBoardReplyList" parameterType="heal.project.me.b_reply.model.vo.B_ReplyoardPage" resultMap="resultB_Reply">
      <![CDATA[
        SELECT *
        FROM (
        SELECT ROWNUM RNUM
               , BRID
               , BRCONTENT
               , B_REF_BID
               , BRUSER
               , BR_DATE
               , BR_MODIFY_DATE
               , BR_STATUS
        FROM B_Reply
        ORDER BY BRID DESC)
        WHERE RNUM >=  #{ startRow }
        AND RNUM <= #{ endRow }
                ]]>
   </select>

	<select id="getListCount" resultType="_int">
      select count(*)
        from b_reply
	</select>


	<!-- 댓글 목록 -->
	<select id="listB_Reply" resultType="heal.project.me.b_reply.model.vo.B_Reply">
		select brid, brcontent, b_ref_bid, bruser, br_date, br_modify_date, br_status
		form b_reply r, board b 
		where r.b_ref_bid = b.bid
		and brid = #{ brid}
		order by brid
	</select>

	<select id="selectB_Reply" parameterType="_int" resultMap="resultB_Reply">
		select * from b_reply
		where brid = #{ brid }
	</select>

	<select id="selectList" parameterType="_int" resultMap="resultB_Reply">
		select * from b_reply
		where br_status = 'Y' and b_ref_bid = #{ b_ref_bid } 
		order by brid asc
	</select>
	
	<insert id="insertB_Reply" parameterType="B_Reply">
		insert into b_reply
		values (seq_brid.nextval, #{ brcontent }, #{ b_ref_bid }, #{ bruser }, sysdate, sysdate, default)
	</insert>
	
	<update id="updateB_Reply" parameterType="B_Reply">
		update b_reply
		set brcontent = #{ brcontent },
			br_modify_date = sysdate
		where brid = #{ brid }
	</update>
	
	<update id="changeBstatusN" parameterType="_int">
		update b_reply
		set br_status = 'N',
			br_modify_date = sysdate
		where brid = #{ brid }
	</update>

	<delete id="deleteB_Reply" parameterType="_int">
		update b_reply
		   set br_status = 'N'
		where brid = #{brid}
	</delete>
</mapper>
