<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="blameMapper">
   
   <resultMap type="Blame"  id="blameResultSet">
      <id property="blame_no" column="blame_no"/>
      <result property="blame_type" column="blame_type"/>
      <result property="reporter" column="reporter"/>
      <result property="targetuser" column="targetuser"/>
      <result property="blame_date" column="blame_date"/>
      <result property="blame_content" column="blame_content"/>
   </resultMap>
   

   <select id="getListCount" resultType="_int">
      select count(*)
        from blame
   </select>
   
   <insert id="insertBlame" parameterType="Blame">
      insert into blame
      values 
      		  (seq_blid.nextval
      		, #{ blame_type }
      		, #{ reporter }
      		, #{ targetuser }
      		, sysdate
      		, #{ blame_content }
      		)
   </insert>

   <select id="selectList" parameterType="heal.project.me.blame.model.vo.BlamePage" resultMap="blameResultSet">
      <![CDATA[
         SELECT *
          FROM  (
                 SELECT ROWNUM RNUM
      			, blame_no
      			, blame_type
      			, reporter
      			, targetuser
      			, blame_date
      			, blame_content
          FROM  (
        SELECT * 
          FROM  BLAME
          ORDER BY blame_no DESC))
          WHERE RNUM >= #{ startRow }
          AND RNUM <= #{ endRow }
                ]]>
   </select>
  
</mapper>









