<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="n_replyMapper">

	<resultMap type="N_Reply" id="resultN_Reply">
		<id column="nrid" property="nrid" />
		<result column="nrcontent" property="nrcontent" />
		<result column="nruser" property="nruser"/>
		<result column="nr_date" property="nr_date" />
		<result column="nr_modify_date" property="nr_modify_date" />
		<result column="nr_status" property="nr_status" />
	</resultMap>

	<!-- 댓글 목록 -->
	<select id="listN_Reply" resultType="heal.project.me.n_reply.model.vo.N_Reply">
		select nrid, nrcontent, nruser, nr_date, nr_modify_date, nr_status
		form n_reply r, notice n 
		where r.nruser = n.nwriter
		and nrid = #{ nrid }
		order by nrid
	</select>

	<select id="selectN_Reply" parameterType="_int" resultMap="resultN_Reply">
		select * from n_reply
		where nrid = #{ nrid }
	</select>

	<select id="selectList" parameterType="_int" resultMap="resultN_Reply">
		select * from n_reply
		where nr_status = 'Y' and nrid = #{ nrid } 
		order by nrid asc
	</select>
	
	<insert id="insertN_Reply" parameterType="N_Reply">
		insert into n_reply
		values (seq_nrid.nextval, #{ nrcontent }, #{ nruser }, 
				sysdate, sysdate, default)
	</insert>
	
	<update id="updateN_Reply" parameterType="N_Reply">
		update n_reply
		set nrcontent = #{ nrcontent },
			nr_modify_date = sysdate
		where nrid = #{ nrid }
	</update>
	
	<update id="changeNstatusN" parameterType="_int">
		update n_reply
		set nr_status = 'N',
			nr_modify_date = sysdate
		where nrid = #{ nrid }
	</update>

	<delete id="deleteB_Reply" parameterType="_int">
		delete from n_reply
		where nrid = #{nrid}
	</delete>
</mapper>
