/* Realtime Calendar Customize
----------------------------------------------------------------------------------------------------
*/
html	{
	height:100%;
}
body	{
	height:100%;
}
.price_st1, .price_st2	{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
section.content	{
	min-height:calc(100% - 95px);
/* 	padding-bottom:95px; */
	position:relative;
}
.body	{
	padding-top:80px;
}
/* body.sidebar-on .body	{ */
/* 	padding-left:340px; */
/* } */
.main-content	{
	padding:40px;
	background:#FFFFFF;
	margin:0 auto;
}
.main-content .notice	{
	border:1px solid #E2E2E2;
	padding:15px;
	min-height:200px;
}
.main-content .notice h6	{
	color:#6C7BFF;
	font-size:20px;
	font-weight:500;
	margin-top:0;
	margin-bottom:15px;
}
.main-content .notice p	{
	font-size:13px;
	color:#999999;
}
.main-content section.msg-section	{
	min-height:50vh;
	display:flex;
	justify-content:center;
	align-items:center;
}
.main-content section.msg-section p	{
	font-size:20px;
	margin:0;
}
.goods-slider	{
	background-color: #2c3740;
	padding:10px 35px;
	position:relative;
}
.goods-slider-left
, .goods-slider-right	{
	position:absolute;
	top:calc(50% - 20px);
}
.goods-slider-left	{
	left:15px;
}
.goods-slider-right	{
	right:15px;
}
.goods-slider-left i
, .goods-slider-right i	{
	font-size:40px;
	color:#fff;
}
.row.room_row > div[class*='col-']:first-child
, .row.room_row > div[class*='col-']:last-child
, #add_option_list > div[class*='col-']	{
	padding-left:7px;
	padding-right:7px;
}
.pay-type	{
	width:100%;
	border-bottom:1px solid #ccc;
	padding:15px;
	text-align: center;
	cursor:pointer;
}
.pay-type:last-child	{
	border-bottom:0;
}
.pay-type.selected	{
	background: #10cfbd;
	font-weight:bold;
	color:#fff;
}
.modal#img-modal	{
	z-index:1070;
}
#img-modal a:focus	{
	color:#fff;
	text-decoration: none;
}
.carousel-control:focus	{
	opacity:none;
}
.day-content	{
	height:100%;
	padding:10px;
	padding-top:30px;
}
.day-content.editable:hover	{
	background:#5b98cc;
	color:#fff;
}
.day-content.end	{
	background:#eee;
	color:#ccc;
}
.opt	{
	width:100%;
	float:left;
	border-bottom:1px dotted #ccc;
}
.opt_name	{
	 float:left;
}
.remain_stock	{
	 float:right;
	 font-weight: bold;
}
.realtime_stock	{
	float:right;
	margin-left:3px;
}
.buffer_stock	{
	float:right;
	margin-left:3px;
}
.table > tbody > tr > td, th	{
	text-align: center;
}
button.btn-default	{
	background: #eee;
	color:#000;
}
.room_div	{
	float:left;
	border-top:1px solid rgba(0, 0, 0, 0.07);
	padding:10px;
	width:100%;
}
.room_div:nth-child(even)	{
	background: #fafafa;
}
.room_title	{
	margin-bottom:10px;
	font-weight:bold;
}
.row.room_row
, .row.search-area	{
	margin-left:0;
	margin-right:0;
}
.row.room_row
, .row.room_row .room_info	{
	display:flex;
	align-items:center;
}
.row.room_row > div[class*='col-'].room_info	{
	padding-left:0;
	border-right:1px solid rgba(0, 0, 0, 0.07);
}
.row.room_row .room_info p	{
	font-size:13px;
	margin-bottom:5px;
}
.row.room_row .room_photo_area	{
	padding-left:0;
}
.room_photo	{
    background: #f7f7f7 url(/resources/img/symbol_bg.png) no-repeat center;
    background-size: 30%;
    min-height:120px;
}
.room_photo_link	{
	display:none;
}
.room_price	{
	line-height: 24px;
	padding:7px;
}
.room_price > .normal_price
, .room_price > .extra_price
, .room_price > .add_price
, .room_price > .discount_price
, .room_price > .total_price	{
	width:100%;
}
.room_price > .extra_price
, .room_price > .add_price
, .room_price > .discount_price	{
	color:#999;
}
.room_price > .total_price	{
	margin-top:10px;
}
select.form-control	{
	padding:6px;
}
.cancel-tr.collapse.in	{
	display:table-row;
}
.sex-btn.checked	{
	background: #10cfbd;
	border-color:#10cfbd;
	color:#fff;
}
.btn.btn-primary	{
	background:#6d5cae;
	border-color:#6d5cae;
	color:#fff;
}
.btn.btn-primary:hover	{
	background:#8a7dbe;
	border-color:#8a7dbe;
}
/* .footer	{ */
/* 	position:fixed; */
/* 	left:0; */
/* 	right:0; */
/* 	bottom:0; */
/* } */
.fc-unthemed	{
	border-left:0;
	border-right:0;
}
.fc-unthemed .fc-toolbar.fc-header-toolbar	{
    margin-bottom: 1.3em;
    justify-content: flex-end;
}
.fc-unthemed .fc-toolbar .fc-center	{
    position: fixed;
    top: 15px;
    z-index: 1000;
    left: calc(50% - 140px);
    display:flex;
}
.fc-unthemed .fc-toolbar .fc-center h2	{
	font-size:26px;
	line-height:46px;
}
.fc-unthemed .fc-button-primary	{
	background:transparent;
	color:#333;
	border:0;
}
.fc-unthemed .fc-button-primary	span	{
	font-size:36px;
}
.fc-unthemed .fc-button-primary[disabled='disabled'],
.fc-unthemed .fc-button-primary:disabled	{
	background:transparent !important;
	color:rgb(204, 204, 204);
}
.fc-unthemed .fc-button-primary:not(:disabled).fc-button-active,
.fc-unthemed .fc-button-primary:not(:disabled):active	{
	color:#333;
	background:transparent;
	border-color:transparent;
}
.fc-button-primary:focus,
.fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:not(:disabled).fc-button-active:focus {
  -webkit-box-shadow: 0;
  box-shadow: inherit;
}
.fc-left	{
	display:flex;
	align-items:center;
	position:absolute;
	top:0;
	left:0;
	height:100%;
}
.fc-right .badge {
    background: #D7F8F6;
    border-radius: 3px;
    color: #333;
    padding: 5px 15px;
    font-size:12px;
    font-weight:300;
}
.fc-right .badge.soldout {
    background:#f6f6f6;
    color: #C2C2C2;
}
.fc-right .badge+.badge,
.fc-right .badge+.checkbox	{
	margin-left: 15px;
}
.fc-right div.checkbox	{
	padding-left:0;
	margin-top:0;
	margin-bottom:0;
}
.fc td, .fc th	{
	border-width:0;
}
.fc-dayGrid-view .fc-body .fc-row	{
	min-height:180px;
}
.fc.fc-unthemed .fc-bg > table,
.fc.fc-unthemed .fc-content-skeleton > table,
.fc.fc-unthemed .fc-head-container .fc-row > table	{
	border-spacing:15px 0;
	border-collapse:separate;
}
.fc.fc-unthemed .fc-bg > table td,
.fc.fc-unthemed .fc-content-skeleton > table td	{
	border-top-width:1px;
}
.fc td.fc-head-container	{
	border-top-width:1px;
}
.fc-unthemed th.fc-day-header	{
	padding:10px;
	text-align:left;
}
.fc-unthemed th.fc-day-header	{
	color:#999999;
	font-size:15px;
	font-weight:400;
}
.fc-unthemed th.fc-day-header.fc-day-header.fc-sun 	{
	color:#F98888;
}
.fc-unthemed th.fc-day-header.fc-day-header.fc-sat 	{
	color:#89D3DE;
}
.fc-unthemed td.fc-day-top	{
	padding:10px 10px 30px 10px;
}
.fc-unthemed td.fc-day-top .fc-day-number	{
    line-height: 26px;
    width: 26px;
    height: 26px;
    color: #333;
    display: inline-block;
    text-align: center;
}
.fc-unthemed td.fc-day-top.fc-sun .fc-day-number	{
	color:#F98888;
}
.fc-unthemed td.fc-day-top.fc-sat .fc-day-number	{
	color:#89D3DE;
}
.fc-unthemed td.fc-today,
.fc-unthemed td.fc-disabled-day	{
	background:transparent;
	opacity:1;
}
.fc-unthemed td.fc-day-top.fc-today .fc-day-number	{
	background:#333;
	color:#fff;
	border:1px solid #333;
	border-radius:50%;
    font-size: 14px;
    font-weight: 300;
} 
.fc-unthemed td.fc-day-top.fc-other-month .fc-day-number	{
	display:none;
}
.fc-row .fc-content-skeleton	{
	padding-bottom:15px;
}
.fc .fc-event-container	{
	vertical-align:middle;
}
.fc .fc-event-container .btn.reserve-btn	{
	width:calc(100% - 20px);
    padding: 3px 10px;
    background: #D7F8F6;
    border: 1px solid #D7F8F6;
    margin-bottom:7px;
    border-radius:3px;
/*     display:flex; */
/*     align-items:center; */
/*     justify-content:space-between; */
}
.fc .fc-event-container .btn.reserve-btn.active,
.fc .fc-event-container .btn.reserve-btn:hover,
.fc .fc-event-container .btn.reserve-btn:focus	{
	outline:none !important;
	box-shadow:none;
}
.fc .fc-event-container .btn.reserve-btn:not(.soldout).active,
.fc .fc-event-container .btn.reserve-btn:not(.soldout):hover,
.fc .fc-event-container .btn.reserve-btn:not(.soldout):focus	{
	background:#fff;
}
.fc .fc-event-container .btn.reserve-btn.soldout	{
    background: #F6F6F6;
    border-color:#f6f6f6;
    color: #C2C2C2;
    cursor: not-allowed;
}
.fc .fc-event-container .btn.reserve-btn span.name	{
    white-space: pre-wrap;
    word-break: break-all;
	text-align:left;
	float:left;
	font-size:13px;
}
.fc .fc-event-container .btn.reserve-btn span.price	{
	float:right;
	color:#89D3DE;
	font-size:13px;
}
.fc .fc-event-container .btn.reserve-btn.soldout span.name,
.fc .fc-event-container .btn.reserve-btn.soldout span.price	{
	color:#C2C2C2;
}
.fc .fc-event-container p	{
	color:#E2E2E2;
	text-align:center;
	margin:0;
	font-size:16px;
	font-weight:400;
}
@media (max-width: 920px) {
  .gallery-item.first {
    display: none;
  }
}
@media (max-width: 767px) {
  .item-details .dialog__content {
    height: 90%;
    overflow-y: auto;
    width: 400px;
    max-width: 400px;
  }
  .item-details .dialog__content .container-fluid {
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .item-details .dialog__content .dialog__overview {
    height: 100%;
    margin-right: -30px;
    margin-left: -30px;
  }
  .item-details .item-slideshow-wrapper {
    height: 515px !important;
  }
  .item-details .item-description {
    height: auto !important;
  }
  .item-details .item-description .buy-now {
    position: static !important;
    float: right;
    margin-bottom: 20px;
  }
  .item-details .item-slideshow .owl-stage-outer,
  .item-details .item-slideshow .owl-stage {
    height: 100%;
  }
  .item-details .item-slideshow .slide {
    width: 100% !important;
  }
  .guide	{
  	padding:0;
  }
}
@media (max-width: 420px) {
/*   .gallery-filters { */
/*     top: -90px; */
/*   } */
  .item-details .dialog__content {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 610px) {
  .gallery-item,
  .gallery {
    width: 100% !important;
    margin-left:0;
    margin-right:0;
  }
}
@media (min-width: 768px) {
  .item-details .dialog__content .container-fluid > .row {
    margin-left: -30px;
    margin-right: -30px;
  }
  .navbar-nav.navbar-right:last-child	{
  	margin-right:0;
  }
}
.guide .label	{
	padding: .2em 10px .3em;
}
.guide div[class*=col-md-]	{
	padding-bottom:5px;
}
#add_option_list	{
	margin-left:-7px;
	margin-right:-7px;
}
.row.addopt_row	{
	display:flex;
	align-items:center;
	margin-left:-7px;
	margin-right:-7px;
	margin-bottom:10px;
}
.row.reserve_row	{
	display:flex;
	align-items:center;
	margin-bottom:10px;
}
.btn.btn-search	{
	width:100%;
	height:49px;
}

.datepicker table tr td.day.new
, .datepicker table tr td span.month.new
, .datepicker table tr td span.year.new	{
	color:#333;
}
.datepicker table tr td.day.disabled
, .datepicker table tr td span.month.disabled
, .datepicker table tr td span.year.disabled	{
	color:#fafafa;
}
.datepicker table tr td.day.active
, .datepicker table tr td span.month.active
, .datepicker table tr td span.year.active	{
	background:#10cfbd;
	text-shadow:none;
}
.datepicker table tr td.day.active:hover
, .datepicker table tr td span.month.active:hover
, .datepicker table tr td span.year.active:hover	{
	background:#40d9ca;
}
.options-container{
	margin-top: 130px;
}
#option_id	{
	width:200px;
}
ul.options-list	{
	list-style-type:none;
	background:#F6F6F6;
	padding-top:20px;
	padding-bottom:15px;
}
ul.options-list > li	{
	display:inline-block;
	padding-right:20px;
}
ul.options-list > li > a	{
	font-size:15px;
	font-weight:500;
	color:#CCCCCC;
}
ul.options-list > li.active > a	{
	color:#6C7BFF;
}
@media screen and (min-width: 1200px){
	.options-container{
		width: 1360px;
	}
}
@media screen and (max-width: 1360px) {
/* 	.fc .fc-event-container .btn.reserve-btn	{ */
/* 		flex-direction: column; */
/* 	    align-items: flex-start; */
/* 	} */
}
@media screen and (max-width: 1024px) {
	.body	{
		padding-top:130px;
	}
	.fc-unthemed .fc-toolbar.fc-header-toolbar	{
		width:100%;
		position:fixed;
		left:0;
		top: 51px;
	    padding: 0;
	    padding-top:10px;
	    display: block;
	    background: #fff;
	    z-index:790;
	}
	.fc-unthemed .fc-toolbar .fc-center	{
		position:static;
		justify-content:center;
	}
	.fc-unthemed .fc-toolbar .fc-center h2	{
		font-size:20px;
	}
	.fc-unthemed .fc-button-primary span	{
		font-size:30px;
	}
	.fc-unthemed .fc-toolbar .fc-right	{
		position:static;
		display:flex;
		justify-content:center;
		padding-bottom:10px;
	}
}
@media screen and (max-width: 997px) {
	section.content	{
    	padding-top:50px;
    	display:flex;
    	align-items:center;
    }
    .main-content > .row	{
		margin-left:0;
		margin-right:0;
	}
    .fc-unthemed .fc-toolbar.fc-header-toolbar	{
    	margin-top:0;
    	margin-bottom:0;
    }
	.search-area	{
		padding:0;
	}
	.allRoomList-box	{
		height:auto;
	}
	.goods-slider	{
		overflow-x:scroll;
	}
	.container-fluid	{
		padding-left:0;
		padding-right:0;
	}
	body,
	#goods_calendar	{
		background-color:transparent;
	}
	.row.room_row	{
		display:block;
	}
	.row.room_row .room_info	{
		display:block;
		border:0;	
	}
	.room_type, .room_bed, .room_structure, .room_facility	{
		display:none;
	}
	.room_price > .normal_price, .extra_price, .add_price, .discount_price	{
		display:none;
	}
	.roomList-box	{
		height:260px;
	}
	.row.reserve_row	{
		display:block;
	}
	.body	{
		padding-top:100px;
		width:100%;
	}
	.main-content	{
		padding:0;
	}
	.fc-dayGrid-view .fc-body .fc-row	{
		min-height:10vh;
	}
	.fc-unthemed td.fc-day-top	{
		padding-bottom:10px;
		text-align:center;
	}
	.fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number,
	.fc-unthemed td.fc-day-top.fc-today .fc-day-number	{
		float: none;
	}
	.fc-unthemed th.fc-day-header	{
		text-align:center;
	}
	.fc .fc-event-container .btn.reserve-btn	{
		padding:3px 5px;
		width:calc(100% - 12px);
		margin-bottom:2px;
	}
	.fc-unthemed th.fc-day-header,
	.fc .fc-event-container .btn.reserve-btn span.name,
	.fc .fc-event-container p,
	.fc-right .badge,
	.fc-right label	{
		font-size:10px;
		line-height:12px;
	}
	.fc.fc-unthemed .fc-bg > table,
	.fc.fc-unthemed .fc-content-skeleton > table,
	.fc.fc-unthemed .fc-head-container .fc-row > table	{
		border-spacing:2px 0;
	}
	.options-container{
		margin-top: 80px;
	}
	ul.options-list	{
		padding-inline-start:15px;
	}
}