@font-face {
  font-family: 'custom-icon';
  src: url('../../fonts/custom-icon/custom-icon.eot?25593471');
  src: url('../../fonts/custom-icon/custom-icon.eot?25593471#iefix') format('embedded-opentype'),
       url('../../fonts/custom-icon/custom-icon.woff?25593471') format('woff'),
       url('../../fonts/custom-icon/custom-icon.ttf?25593471') format('truetype'),
       url('../../fonts/custom-icon/custom-icon.svg?25593471#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="cs-icon-"]:before, [class*="cs-icon-"]:before {
  font-family: "custom-icon";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.cs-icon-receipt:before	{
	content:"\e904";
}
.cs-icon-voucher:before	{
	content: "\e905";
}
.cs-icon-back:before {
  content: "\e903";
}
.cs-icon-help:before {
  content: "\e901";
}
.cs-icon-board:before {
  content: "\e902";
}
.cs-icon-plus-circle-o:before {
  content: "\e900";
  color: #fff;
}
.cs-icon-quickchat:before {
  content: "\e96b";
}
body	{
	font-family: "Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
.m-b-10	{
	margin-bottom:10px !important;
}
.container-fluid	{
	padding-left:40px;
	padding-right:40px;
}
.header	{
    position: fixed;
    width: 100%;
    top: 0;
    z-index:800;
    box-shadow: 0 3px 6px 0px #d8d8d8;
    height: auto;
    background:#fff;
}
.header-container	{
	width:100%;
	display:flex;
	justify-content:space-between;
}
.navbar	{
	width:100%;
	border-radius:0;
	margin-bottom:0;
	z-index:800;
}
.navbar-inverse	{
	background:#3b4752;
}
.navbar .home-anchor	{
	color:#333;
	padding-right:50px;
}
.header-reservation	{
	background:#333;
}
.header-reservation .header-container	{
	justify-content: center;
}
.header-reservation .navbar .home-anchor	{
	color:#fff;
	padding-right:0;
}
.navbar-white	{
	background:#fff;
}
.navbar-header	{
	display:flex;
	align-items:center;
	height:80px;
	position: relative;
}
.navbar-brand	{
	height:auto;
	line-height:29px;
	padding:0;
}
.navbar-brand.logo	{
	margin-top:-10px;
}
.navbar-brand .company-title	{
	text-align:center;
/* 	font-family:'Gmarket Sans'; */
	font-size:29px;
	font-weight:500;
	color:#333;
	background-position:center;
	display:inline-block;
	word-break:keep-all;
/* 	margin-top: 6px; */
    margin-bottom: 0px;
}
.header-reservation .navbar .navbar-brand .company-title	{
	color:#fff;
	font-size:20px;
	font-family:'Noto Sans KR';
}
.navbar-header .fixed-title	{
	font-size:20px;
	font-weight:500;
	color:#333;
}
.navbar-header .navbar-right a > i	{
	line-height:28px;
	color:#C2C2C2;
}
.header-reservation .navbar-header .navbar-right a > i	{
	color:#fff;
}
.navbar-toggle .icon-bar {
    background-color: #C2C2C2;
}
.goods-title {
	display:flex;
	align-items:center;
	justify-content:center;
}
.goods-title span	{
	font-size:16px;
	font-weight:500;
	color:#89d3de;
}
.navbar-nav {
	margin:0;
}
.navbar-btn	{
	margin : 0;
}
.navbar-toggle	{
	margin-top:18px;
	margin-bottom:18px;
	margin-right:15px;
}
#bs-example-navbar-collapse-1	{
	display:flex !important;
	align-items:center;
	padding:0;

}
.header-reservation #bs-example-navbar-collapse-1	{
	position: absolute;
    top: 0;
    right: 40px;
    height: 80px !important;
}
.nav.nav-tabs.goods-tabs	{
	border-bottom:0;
	display:inline-flex;
	align-items:center;
}
.nav.nav-tabs.goods-tabs > li	{
	text-align:center;
}
.nav.nav-tabs.goods-tabs > li > a	{
	font-size:16px;
	font-weight:400;
	color:#999;
	border:0;
	white-space:nowrap;
	display:inline-block;
	padding:10px 20px;
}
.navbar-nav.navbar-right	{
	line-height:29px;
}
.navbar-btn.check-btn	{
	background:#fff;
	font-size:16px;
	font-weight:500;
	color:#333;
	border:1px solid #333;
	padding:10px 15px;
	
}
.navbar-btn.check-btn i	{
	color:#333;
	font-weight:300;
}
.nav > li > a.navbar-btn.check-btn:hover, .nav > li > a.navbar-btn.check-btn:focus	{
	background-color:transparent;
}
.nav.nav-tabs.goods-tabs > li.active > a, .nav.nav-tabs.goods-tabs > li.active > a:focus
, .nav.nav-tabs.goods-tabs > li > a:hover, .nav.nav-tabs.goods-tabs > li > a:focus	{
	background-color: transparent;;
	color:#10CFBD;
	border:0;
}
.navbar-inverse .navbar-nav > li.active > a, .navbar-inverse .navbar-nav > li.active > a:hover
, .navbar-inverse .navbar-nav > li.active > a:focus, .navbar-inverse .navbar-nav > li > a:focus
{
	background-color: initial;
	color:#10CFBD;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}
.sidebar	{
	min-height:100%;
	background-color:#2d2d32;
	width:340px;
	left:-340px;
	position:fixed;
	padding-top:70px;
	z-index:799;
	-webkit-transition: -webkit-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -moz-transition: -moz-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -o-transition: -o-transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    transition: transform 400ms cubic-bezier(0.05, 0.74, 0.27, 0.99);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}
.sidebar.collapse	{
	display:inherit;
}
body.sidebar-on .sidebar	{
	transform:translate3d(340px,0px,0px);
}
body.sidebar-on .sidebar nav	{
	background-color:#2d2d32;
	display:none;	
}
body.sidebar-on .sidebar nav .navbar-brand .company-title	{
	color:#fff;
}
body.sidebar-on .sidebar nav .navbar-toggle .icon-bar {
    background-color: #fff;
}
body.sidebar-on .sidebar nav .navbar-btn.check-btn i {
    color: #fff;
}
.sidebar .open-toggle	{
	position: absolute;
    left: 340px;
    background: #2d2d32;
    border: 1px solid #2d2d32;
    border-radius: 0 5px 5px 0;
    padding: 10px;
    top: 50%;
    text-align:center;
    cursor:pointer;
    width: 50px;
    height: 160px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.sidebar .open-toggle span	{
	color:#85858e;
	font-size: 16px;
	line-height:28px;
    font-weight: 500;
    letter-spacing:1px;
    writing-mode: tb-rl;
}
/* body.sidebar-on .sidebar .open-toggle { */
/*     padding-left: 5px; */
/*     padding-right: 15px; */
/* } */
.sidebar .open-toggle i	{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color:#85858e;
    font-size: 26px;
}
.sidebar .open-toggle i:before	{
	content: "\f105";
}
/* body.sidebar-on .sidebar .open-toggle i:before	{ */
/* 	content: "\f104"; */
/* } */
.sidebar .open-toggle:hover span,
.sidebar .open-toggle:hover i	{
	color:#fff;
}
.sidebar .icon-thumbnail {
    display: inline-block;
    background: #2d2d32;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    left: 0;
    float: right;
    margin-right: 15px;
    color: #788195;
    font-size: 16px;
    -webkit-transition: -webkit-transform .4s cubic-bezier(.05,.74,.27,.99);
    transition: transform .4s cubic-bezier(.05,.74,.27,.99);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    font-family: segoe ui,helvetica neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-weight: 700;
}
.sidebar .icon-thumbnail .badge	{
	font-weight:400;
	color:#89D3DE;
	background:#111111;
	border-color:#111111;
	padding:5px 7px;
	border-radius:50%;
}
.sidebar .sidebar-menu	{
	
}
.sidebar .sidebar-menu ul.menu-items{
	list-style:none;
	padding-left:0;
}
.sidebar .sidebar-menu ul.menu-items > li {
	width:100%;
}
.sidebar .sidebar-menu ul.menu-items > li > a {
	display:inline-block;
	color:#85858e;
	padding-left:30px;
	min-height:50px;
	line-height:50px;
	width:80%;
}
.sidebar .sidebar-menu .menu-items > li > a > .arrow.open:before {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar .sidebar-menu .menu-items > li > a > .arrow:before {
    float: right;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f104";
    font-weight: 300;
    text-shadow: none;
    -webkit-transition: all .12s ease;
    transition: all .12s ease;
}
.sidebar .sidebar-menu ul.menu-items > li:hover > *,
.sidebar .sidebar-menu ul.menu-items > li.active > *,
.sidebar .sidebar-menu ul.menu-items > li.open > * {
	color:#fff;
}
.sidebar .sidebar-menu ul.menu-items > li .sub-menu {
	background-color:#27272a;
	list-style:none;
	padding-left:0;
	display:none;
	max-height:340px;
	overflow-y:auto;
}
.sidebar .sidebar-menu ul.menu-items > li.open .sub-menu {
	display:block;
	padding:10px 0;
	-webkit-transition: all .12s ease;
    transition: all .12s ease;
}
.sidebar .sidebar-menu ul.menu-items > li ul.sub-menu > li > a {
	display:flex;
	align-items:center;
	color:#85858e;
	padding-left:30px;
	padding-right:30px;
	min-height:30px;
}
.sidebar .sidebar-menu ul.menu-items > li ul.sub-menu > li:hover > a,
.sidebar .sidebar-menu ul.menu-items > li ul.sub-menu > li.active > a	{
	color:#89d3de;
}
.row {
    margin-right: -7px;
    margin-left: -7px;
}
.footer .footer-container	{
	background: #f6f6f6;
	padding:25px 40px;
}
.footer .footer-container	{
	display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}
.footer .footer-container p {
	color:#c2c2c2;
	padding-left:40px;
	margin-bottom:0;
}
.footer .footer-container a img.logo-bk	{
	opacity:.4;
}
body.sidebar-on .footer	{
/* 	left:340px; */
	padding-left:340px;
}
.body {
    padding-top: 80px;
}
.footer .footer-container .agree	{
	font-size:12px;
	color: #888;
	font-weight: 500;
}
.footer .footer-container .policy	{
	font-size:12px;
	color: #000;
	font-weight: 500;
	margin-left:20px;
}
.footer .footer-container .text	{
	color: #888;
	margin-bottom: 5px;
	letter-spacing: -0.025em;
	font-size: 12px;
	font-weight: 300;
}
.footer .footer-container p.text:first-of-type	{
	margin-top: 20px;
}
.footer .footer-container .logo+p.text:first-of-type	{
	margin-top: 12px;
}
.footer .footer-container p.text:last-of-type	{
	margin-bottom:0;
}
.radio,
.checkbox	{
	display:inline-block;
	margin-top:0;
}
.radio label,
.checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  min-width: 17px;
  min-height: 17px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
}
/* .checkbox label{ */
/*   width: 19px; */
/*   height: 19px; */
/*   overflow: hidden; */
/* } */
.radio label:before,
.checkbox label:before {
  -webkit-box-sizing: inherit;
  box-sizing: border-box;
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  position: absolute;
  left: 0px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
}
.radio label {
  margin-bottom: 6px;
}
.radio label:before {
  bottom: 2.5px;
  border-radius: 99px;
  -webkit-transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
  transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
}
.radio input[type=radio]:checked + label:before {
  border-width: 5px;
  border-color: #333;
}
.radio input[type="radio"]:focus + label {
  color: #2c2c2c;
}
.radio input[type="radio"]:focus + label:before {
  background-color: #e6e6e6;
}
.radio input[type=radio]:checked + label:before {
  border-width: 5px;
}
.radio input[type=radio] {
  opacity: 0;
  width: 0;
  height: 0;
}
.radio input[type=radio][disabled] + label {
  opacity: 0.65;
}
.radio.radio-success input[type=radio]:checked + label:before {
  border-color: #10cfbd;
}
.radio.radio-primary input[type=radio]:checked + label:before {
  border-color: #6d5cae;
}
.radio.radio-info input[type=radio]:checked + label:before {
  border-color: #3b4752;
}
.radio.radio-warning input[type=radio]:checked + label:before {
  border-color: #f8d053;
}
.radio.radio-danger input[type=radio]:checked + label:before {
  border-color: #f55753;
}
.radio.radio-complete input[type=radio]:checked + label:before {
  border-color: #48b0f7;
}
.checkbox + .checkbox,
.radio + .radio {
  margin-top: 0;
}
.checkbox input[type=radio][disabled] + label:after {
  background-color: #e6e6e6;
}
.checkbox label {
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label:before {
  top: 1.4px;
  border-radius: 3px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label::after {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 3.5px;
  top: 0px;
  font-size: 11px;
  transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label:after {
  border-radius: 3px;
}
.checkbox input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
.checkbox.checkbox-circle label:after {
  border-radius: 99px;
}
.checkbox.checkbox-circle label:before {
  border-radius: 99px;
}
.checkbox input[type=checkbox]:checked + label:before {
  border-width: 9px;
  border-color:#6C7BFF;	
}
.checkbox input[type=checkbox]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\F00C";
  color: #fff;
}
.checkbox input[type="checkbox"]:focus + label {
  color: #333;
}
.checkbox input[type=checkbox][disabled] + label {
  opacity: 0.65;
}
.checkbox input[type=checkbox][disabled] + label:before {
  background-color: #eceff3;
}
.form-group .form-control.date	{
	padding-left:30px;
	color:#333;
	cursor:pointer;
}
.form-group .form-control.date+i	{
    position: absolute;
    bottom: 12px;
    left: 15px;
    color: #c2c2c2;
}
.datepicker:before,
.datepicker:after,
.daterangepicker:before,
.daterangepicker:after	{
	content:none;
}
.datepicker,
.daterangepicker .drp-calendar.left,
.daterangepicker .drp-calendar.right	{
	font-family:"Noto Sans KR", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:0;
}
.datepicker	{
	width:100%;
}
.daterangepicker .drp-calendar.left .calendar-table	{
	padding-right:0;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td	{
	border:0;
	border-radius:0;
}
.datepicker .datepicker-days > table,
.daterangepicker .drp-calendar.left tr.month-picker th	{
	background:#F6F6F6;
}
.daterangepicker .drp-calendar.right tr.month-picker th	{
	background:#EBEBEB;
}

.daterangepicker .drp-calendar.left tr th:last-child,
.daterangepicker .drp-calendar.left tr td:last-child	{
	padding-right:10px;
	border-right:1px solid #E2E2E2;
}
.daterangepicker .drp-calendar.left tr th:first-child,
.daterangepicker .drp-calendar.left tr td:first-child	{
	padding-left:10px;
}
.daterangepicker .drp-calendar.right tr th:first-child, 
.daterangepicker .drp-calendar.right tr td:first-child {
	padding-left:10px;
    border-left: 0;
}
.daterangepicker .drp-calendar.right tr th:last-child, 
.daterangepicker .drp-calendar.right tr td:last-child {
	padding-right:10px;
}
.datepicker .datepicker-days > table	{
	width:100%;
}
.datepicker .datepicker-days > table th,
.datepicker .datepicker-days > table td	{
	width:14.28%;
	border-radius:0;
}
.datepicker .datepicker-days > table th.prev,
.datepicker .datepicker-days > table th.next	{
	cursor:pointer;
}
.datepicker .datepicker-days > table th.prev.disabled i,
.datepicker .datepicker-days > table th.next.disabled i	{
	color:#e2e2e2;
}
.datepicker .datepicker-days > table > thead > tr:nth-child(3) > th,
.datepicker .datepicker-days > table > tbody td	{
	background:#fff;
}
.datepicker .datepicker-days > table > thead > tr > th.datepicker-switch	{
	padding:15px;
}
.datepicker .datepicker-days > table > thead > tr > th.datepicker-switch:hover	{
	background:transparent;
}
.daterangepicker .calendar-table .month	{
	padding:10px;
}
.datepicker .datepicker-days .datepicker-switch div.year-title,
.daterangepicker .calendar-table .month div.year-title	{
	color:#C2C2C2;
	font-size:16px;
	font-weight:300;
}
.datepicker .datepicker-days .datepicker-switch div.month-title,
.daterangepicker .calendar-table .month div.month-title	{
	color:#333333;
	font-size:31px;
	line-height:34px;
	font-weight:400;
}
.datepicker .datepicker-days > table > thead > tr > th.prev i,
.datepicker .datepicker-days > table > thead > tr > th.next i,
.daterangepicker .prev.available i,
.daterangepicker .next.available i	{
	font-size:40px;
	color:#C2C2C2;
}
.datepicker .datepicker-days .dow,
.daterangepicker tr.weeks th	{
	color:#999999;
	font-size:15px;
	font-weight:400;
	padding:10px 5px;
}
.datepicker .datepicker-days .dow.sun,
.daterangepicker tr.weeks th.sun	{
	color:#F98888;
}
.datepicker .datepicker-days .dow.sat,
.daterangepicker tr.weeks th.sat	{
	color:#89D3DE;
}
.datepicker .datepicker-days > table tbody td.day,
.daterangepicker td.day	{
	padding:3px 0;
	text-align:center;
}
.datepicker .datepicker-days > table tbody td.day span,
.daterangepicker td.day span {
    height: 32px;
    width: 32px;
    padding:5px;
    line-height: 22px;
    font-size:15px;
    font-weight:400;
    float:none;
    display:inline-block;
}
.daterangepicker td.day.off.before span	{
	color:#fff;
}
.daterangepicker td.day.off.after span	{
	color:#C2C2C2;
}
.daterangepicker td.day.start-date span	{
	border-top-left-radius:50%;
	border-bottom-left-radius:50%;
}
.daterangepicker td.day.end-date span	{
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
}
.daterangepicker td.day.in-range	{
	background:transparent;
}
.daterangepicker td.day.in-range span	{
	background:#f6f6f6;
	border:1px solid #f6f6f6;
}
.datepicker table tr td.day:hover span,
.daterangepicker td.day:hover span	{
    background: #eeeeee;
    cursor: pointer;
    border-radius:50%;
    text-shadow:none;
}
.datepicker table tr td.day.disabled:hover span,
.daterangepicker td.day.disabled span	{
	background: #fff !important;
    border-radius: 0;
    cursor:default;
}
.datepicker table tr td.day.active,
.datepicker table tr td.day:hover,
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover.active,
.daterangepicker td.day.active,
.daterangepicker td.day:hover,
.daterangepicker td.day.active:hover,
.daterangepicker td.day.active:hover.active {
	background-color:#fff !important;
	background-image:none;
}
.datepicker table tr td.day.active span,
.datepicker table tr td span.month.active span,
.datepicker table tr td span.year.active span
.daterangepicker td.day.active span {
    background: #333;
    text-shadow: none;
    border-radius: 50%;
}
.datepicker table tr td.day.active:hover span,
.datepicker table tr td span.month.active:hover span,
.datepicker table tr td span.year.active:hover span,
.daterangepicker td.day.active span	{
	background:#333;
}
.datepicker .datepicker-days .day.disabled	{
	color:#fff;
}
.datepicker .datepicker-days .day.new	{
	color:#C2C2C2;
}
div[class*='col-']	{
	padding-left:7px;
	padding-right:7px;
}
/* .row > div[class*='col-']:first-child	{ */
/* 	padding-left:15px; */
/* } */
/* .row > div[class*='col-']:last-child	{ */
/* 	padding-right:15px; */
/* } */
.text-white	{
	color:#fff !important;
}
.fs-12	{
	font-size:12px!important;
}
.fs-14	{
	font-size:14px!important;
}
.p-l-10	{
	padding-left:10px !important;
}
.p-l-20	{
	padding-left:20px !important;
}
.p-r-10	{
	padding-right:10px !important;	
}
.p-r-20	{
	padding-right:20px !important;	
}
.p-t-8	{
	padding-top:8px !important;
}
.p-t-10	{
	padding-top:10px !important;
}
.p-t-20	{
	padding-top:20px !important;
}
.p-b-5	{
	padding-bottom:5px !important;
}
.p-b-10	{
	padding-bottom:10px !important;
}
.padding-10	{
	padding:10px !important;
}
.m-t-5	{
	margin-top:5px!important;
}
.m-t-10	{
	margin-top:10px!important;
}
.m-t-20	{
	margin-top:20px!important;
}
.m-l-5	{
	margin-left:5px;
}
.m-l-10	{
	margin-left:10px;
}
.m-b-5	{
	margin-bottom:5px;
}
.m-r-5	{
	margin-right:5px;
}
.pull-left	{
	float:left!important;
}
.full-width	{
	width:100% !important;
}
.full-height	{
	height:100%;
}
.top-left	{
	position: absolute!important;
	top:1px;
	left:0;
}
.bottom-left	{
	position: absolute!important;
	bottom:1px;
	left:0;
}
.overlayer {
    position: absolute;
    display: block;
    z-index: 21;
}
.bold	{
	font-weight:bold!important;
}
.no-margin	{
	margin:0 !important;
}
.m-b-10	{
	margin-bottom:10px;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 2px 9px;
    font-size: 10.5px;
}
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    box-shadow: none;
}
.inline	{
	display:inline-block!important;
}

.gradient-grey {
    background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 75%);
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 75%);
}
.text-master {
    color: #626262;
}
a:focus, a:hover, a:active {
    color: #6d5cae;
    text-decoration: none;
}
.no-margin	{
	margin:0;
}
.text-right	{
	text-align:right;
}
.hint-box	{
	background-color: #fddddd;
    color: #933432;
    border-color: #933432;
    padding:10px 15px;
    margin-top:20px;
    margin-bottom:20px;
}
.label	{
	font-weight:500;
}
.label.label-success	{
	background:#10cfbd;
	border-color:#10cfbd;
	color:#fff;
}
.label.label-danger	{
	background: #f55753;
	border-color: #f55753;
	color:#fff;
}
.label.label-warning	{
	background: #f8d053;
	border-color: #f8d053;
	color:#fff;
}
.label.label-info	{
	background:#48b0f7;
	border-color:#48b0f7;
	color:#fff;
}
.label.label-master	{
	background:#626c75;
	border-color:#626c75;
	color:#fff;
}
.scroll {
  position: relative;
  overflow: auto;
}
.scroll-wrapper > .scroll-element,
.scroll-wrapper > .scroll-element div {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 10;
}
.scroll-wrapper > .scroll-element div {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}
.scroll-wrapper > .scroll-element.scroll-x {
  bottom: 2px;
  height: 7px;
  left: 0;
  min-width: 100%;
  width: 100%;
}
.scroll-wrapper > .scroll-element.scroll-y {
  height: 100%;
  min-height: 100%;
  right: 2px;
  top: 0;
  width: 4px;
}
.scroll-wrapper > .scroll-element .scroll-element_outer {
  opacity: 0.3;
}
.scroll-wrapper > .scroll-element .scroll-element_size {
  background-color: rgba(0, 0, 0, 0.07);
  opacity: 0;
}
.scroll-wrapper > .scroll-element .scroll-bar {
  background-color: #fff;
}
.scroll-wrapper > .scroll-element.scroll-x .scroll-bar {
  bottom: 0;
  height: 4px;
  min-width: 24px;
  top: auto;
}
.scroll-wrapper > .scroll-element.scroll-x .scroll-element_outer {
  bottom: 0;
  top: auto;
  left: 2px;
  -webkit-transition: height 0.2s;
  transition: height 0.2s;
}
.scroll-wrapper > .scroll-element.scroll-x .scroll-element_size {
  left: -4px;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-bar {
  left: auto;
  min-height: 24px;
  right: 0;
  width: 4px;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-element_outer {
  left: auto;
  right: 0;
  top: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.scroll-wrapper > .scroll-element.scroll-y .scroll-element_size {
  top: -4px;
}
.scroll-wrapper > .scroll-content {
  box-sizing: inherit !important;
}
.scroll-wrapper.auto-hide > .scroll-element .scroll-element_track {
  display: none;
}
.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
  left: -11px;
}
.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
  top: -11px;
}
/* hover & drag */
.scroll-wrapper > .scroll-element:hover .scroll-element_outer,
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-element_outer {
  overflow: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
}
.scroll-wrapper > .scroll-element:hover .scroll-element_outer .scroll-element_size,
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-element_outer .scroll-element_size {
  opacity: 1;
}
.scroll-wrapper > .scroll-element:hover .scroll-element_outer .scroll-bar,
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-element_outer .scroll-bar {
  height: 100%;
  width: 100%;
}
.scroll-wrapper > .scroll-element.scroll-x:hover .scroll-element_outer,
.scroll-wrapper > .scroll-element.scroll-x.scroll-draggable .scroll-element_outer {
  height: 10px;
  min-height: 7px;
}
.scroll-wrapper > .scroll-element.scroll-y:hover .scroll-element_outer,
.scroll-wrapper > .scroll-element.scroll-y.scroll-draggable .scroll-element_outer {
  min-width: 7px;
  width: 7px;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0.07);
    font-family: Roboto, Arial, 'Noto Sans KR';
    -webkit-appearance: none;
    color: #2c2c2c;
    outline: 0;
    height: 35px;
    padding: 9px 12px;
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    min-height: 35px;
    -webkit-transition: all 0.12s ease;
    transition: all 0.12s ease;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-transition: background 0.2s linear 0s;
    transition: background 0.2s linear 0s;
}
.form-group-attached	{
	margin-bottom:15px;
}
.form-group-attached .form-group.form-group-default {
  border-radius: 0;
  margin-bottom: 0;
}
.form-group-attached > div {
  margin: 0;
}
.form-group-attached > div:first-child.row > [class*='col-']:first-child .form-group-default {
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
}
.form-group-attached > div:first-child.row > [class*='col-']:last-child .form-group-default {
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
}
.form-group-attached > div:first-child.form-group-default {
  -webkit-border-top-left-radius: 2px;
  -moz-border-radius-topleft: 2px;
  border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topright: 2px;
  border-top-right-radius: 2px;
}
.form-group-attached > div:last-child.row > [class*='col-']:first-child .form-group-default {
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
}
.form-group-attached > div:last-child.row > [class*='col-']:last-child .form-group-default {
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
}
.form-group-attached > div:last-child.form-group-default {
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-left-radius: 2px;
  -webkit-border-bottom-right-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  border-bottom-right-radius: 2px;
}
.form-group-attached > div.row > [class*='col-'] {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.form-group-attached > div.row > [class*='col-']:not(:only-child):not(:last-child) > .form-group-default {
  border-right-color: transparent;
}
.form-group-attached > div:not(:last-child) .form-group-default,
.form-group-attached > div:not(:last-child).form-group-default {
  border-bottom-color: transparent;
}
.form-group-default {
  background-color: #fff;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-radius: 2px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  overflow: hidden;
  width: 100%;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}
.form-group-default.required:after {
  color: #f55753;
  content: "*";
  font-family: arial;
  font-size: 20px;
  position: absolute;
  right: 12px;
  top: 6px;
}
.form-group-default.disabled {
  background: #f8f8f8;
  color: rgba(98, 98, 98, 0.23);
}
.form-group-default.disabled input {
  opacity: .6;
}
.form-group-default.disabled.focused {
  background: #f8f8f8;
}
.form-group-default.disabled.focused label {
  opacity: 1;
}
.form-group-default.focused {
  border-color: rgba(0, 0, 0, 0.1) !important;
  background-color: #f0f0f0;
}
.form-group-default.focused label {
  opacity: .4;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.form-group-default.has-error {
  background-color: rgba(245, 87, 83, 0.1);
}
.form-group-default.has-success .form-control-feedback,
.form-group-default.has-error .form-control-feedback {
  display: none !important;
}
.form-group-default.has-success .form-control,
.form-group-default.has-success .form-control:focus,
.form-group-default.has-error .form-control,
.form-group-default.has-error .form-control:focus {
  border: none;
  box-shadow: none;
}
.form-group-default.input-group {
  padding: 0;
}
.form-group-default.input-group > label {
  margin-top: 6px;
  padding-left: 12px;
}
.form-group-default.input-group > label.inline {
  margin-top: 6px;
  float: left;
}
.form-group-default.input-group > .form-control {
  margin-top: -2px;
  margin-bottom: 3px;
  padding-left: 12px;
}
.form-group-default.input-group .input-group-addon {
  border-radius: 0;
  border: none;
}
.form-group-default.input-group.focused .input-group-addon {
  border-color: rgba(0, 0, 0, 0.1);
}
.form-group-default .form-control {
  border: none;
  height: 25px;
  min-height: 25px;
  padding: 0;
  margin-top: -4px;
  background: none;
  box-shadow: none;
}
.form-group-default .form-control.error {
  color: #2c2c2c;
}
.form-group-default .form-control:focus {
  background: none;
}
.form-group-default textarea.form-control {
  padding-top: 5px;
}
.form-group-default label {
  margin: 0;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  font-size:11px;
  color: #bababa;
  font-weight: 500;
  height:20px;
}
.form-group-default label.label-lg {
  font-size: 13px;
  left: 13px;
  top: 9px;
}
.form-group-default label.label-sm {
  font-size: 11px;
  left: 11px;
  top: 6px;
}
.form-group-default label.highlight {
  opacity: 1;
}
.form-group-default label.fade {
  opacity: .5;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.form-group-default > .input-lg {
  height: 29px;
  min-height: 29px;
  padding-left: 1px;
}
.form-group-default > .input-sm {
  min-height: 18px;
  height: 18px;
}
.form-group-default.form-group-default-select {
  overflow: visible;
}
.form-group-default.form-group-default-select .ui-select-container.ui-select-bootstrap.dropdown .ui-select-match {
  padding-top: 6px;
  height: 23px;
}
.form-group-default.form-group-default-select .ui-select-container .select2-choices {
  border: 0px;
}
.form-group-default.form-group-default-select2 {
  padding: 0;
}
.form-group-default.form-group-default-select2 > label {
  position: absolute;
  z-index: 10;
  padding: 7px 12px 0 12px;
}
.form-group-default.form-group-default-select2 > label.label-lg {
  left: 0;
  top: 0;
}
.form-group-default.form-group-default-select2 > label.label-sm {
  left: 0;
  top: 0;
}
select.full-width + .select2-container {
    width: 100% !important;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--single {
  padding-top: 20px;
  height: 52px;
  border: 0 !important;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--single .select2-arrow b:before {
  top: 20px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--single .select2-chosen {
  padding-left: 3px;
  padding-top: 1px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--multiple {
  padding-top: 20px;
  height: 52px;
  border: 0px !important;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection--multiple .select2-selection__rendered .select2-selection__choice {
  margin-top: 4px;
}
.form-group-default.form-group-default-select2.input-lg {
  height: auto;
  padding: 0;
}
.form-group-default.form-group-default-select2.input-lg .select2-container .select2-selection--single {
  padding-top: 26px;
  height: 58px;
}
.form-group-default.form-group-default-select2.input-lg .select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 18px;
}
.form-group-default.form-group-default-select2.input-sm {
  height: auto;
  padding: 0;
}
.form-group-default.form-group-default-select2.input-sm .select2-container .select2-selection--single {
  padding-top: 21px;
  height: 49px;
}
.form-group-default.form-group-default-select2.input-sm .select2-container .select2-selection--single .select2-selection__rendered {
  font-size: 13px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection	{
	padding:2px 9px;
	padding-top:25px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection .select2-selection__rendered {
    padding: 0;
    padding-left: 3px;
    padding-top: 1px;
}
.form-group-default.form-group-default-select2 .select2-container .select2-selection .select2-selection__arrow	{
	top:auto;
	right:10px !important;
	bottom:2px;
}
.form-group-default.form-group-default-selectFx {
  padding: 0;
}
.form-group-default.form-group-default-selectFx > label {
  position: absolute;
  z-index: 10;
  padding: 7px 12px 0 12px;
}
.form-group-default.form-group-default-selectFx > label.label-lg {
  left: 0;
  top: 0;
}
.form-group-default.form-group-default-selectFx > label.label-sm {
  left: 0;
  top: 0;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-placeholder {
  padding-top: 28px;
  height: 52px;
  padding-left: 12px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select {
  height: auto;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select > span:after,
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select .cs-selected span:after {
  top: 39px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select.input-lg .cs-placeholder {
  height: 60px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .cs-select.input-sm .cs-placeholder {
  height: 50px;
}
.form-group-default.form-group-default-selectFx .cs-wrapper .dropdown-placeholder {
  vertical-align: top;
}
.form-group-default.input-group {
  padding: 0;
}
.form-group-default.input-group label {
  margin-top: 6px;
  padding-left: 12px;
}
.form-group-default.input-group .form-input-group {
  width: 100%;
}
.form-group-default.input-group .form-control {
  margin-top: -2px;
  margin-bottom: 3px;
  padding-left: 12px;
  width: 100%;
}
.form-group-default.input-group .input-group-addon {
  border-radius: 0 !important;
}
input:focus, select:focus, span:focus	{
	outline:none;
}
.select2-container--default .select2-selection--single	{
	height:40px;
	border: 1px solid #e2e2e2 !important;
    border-radius: 3px;
}
.select2-container--default .select2-search--dropdown .select2-search__field	{
	border: 1px solid #e2e2e2 !important;
    border-radius: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered	{
	line-height:40px;
	font-weight:500;
    line-height: 21px;
    padding-right: 8px;
    font-weight: 400;
    font-size: 13px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow	{
	height:40px;
}
.select2-dropdown	{
	border-color:#e2e2e2;
}
.loading {
/* 	position: absolute; */
	width: 100%;
	height: 100%;
	z-index: 100;
}
.loading.loading-fade	{
	background: rgba(0,0,0,.2);
}
.loading.loading-absolute	{
	position:absolute;
}
.loading.loading-fixed		{
	position:fixed;
	top:0;
}
.loading.loading-center	{
	display: flex;
    align-items: center;
}
.progress-circle-indeterminate {
  background: url('/resources/img/progress/progress-circle-master.svg') no-repeat top left;
  width: 50px;
  height: 50px;
  background-size: 100% auto;
  margin: 0 auto;
}
#reserveCheckModal .modal-header	{
	text-align: left;
    padding: 15px 25px 25px 25px;
    border: 0;
}
#reserveCheckModal .modal-body	{
	padding-top:0;
}
#reserveCheckModal .btn.btn-primary	{
	background:#333;
}
#reserveCheckModal .btn.btn-primary.disabled,
#reserveCheckModal .btn.btn-primary[disabled]{
	background:#e5e5e5;
	border-color:#e5e5e5;
}
.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
.option-select-row	{
	margin-bottom:0 !important;
	
}
.option-select-form {
	position:relative;
	border-color:#e2e2e2;
	border-radius: 3px;
	display:flex;
	align-items:center;
	cursor:pointer;
	margin-top:10px;
}
.option-select-form:hover,
.option-select-form.open	{
	border-color:rgba(51,51,51,1);
}
.option-select-form .option-group	{
	display:flex;
	align-items:center;
	margin-right:10px;
}
.option-select-form .option-group:last-child	{
	margin-right:0;
}
.option-select-form .dot	{
	margin-left:2px;
	margin-right:2px;
}
.option-select-form i	{
	margin-right:5px;
	color:#c2c2c2;
	font-size: 18px;
	line-height:18px;
	width:18px;
	height:18px;
}
.option-select-form span	{
	font-size:13px;
}
.option-select-form b	{
    border-color: #888 transparent transparent transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    height: 0;
    right: 15px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
}
.option-select-form.open b	{
    border-color: transparent transparent #888 transparent;
    border-width: 0 4px 5px 4px;
}
.be__select-box	{
    position: absolute;
    top:0;
    width: 400px;
    background: #fff;
    z-index: 999;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 4px 5px 0px #999999;
}
.be__select-box .be__list	{
	padding: 10px 15px;
}
.be__select-box .be__row	{
	display:flex;
	align-items:center;
	justify-content: space-between;
	border-bottom:1px dashed #e2e2e2;
	padding-bottom:10px;
	padding-top:10px;
}
.be__select-box .be__row label	{
	margin-bottom:0;
	font-weight:500;
}
.be__select-box .be__row:last-child	{
	border-bottom:0;
}
.be__select-box .be__stepper	{
	display:flex;
}
.be__select-box .be__stepper button	{
	border: 1px solid #6C7BFF;
	color:#6C7BFF;
	background:#fff;
    padding: 3px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
}
.be__select-box .be__stepper button.be__minus	{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}
.be__select-box .be__stepper button.be__plus	{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.be__select-box .be__stepper button:hover,
.be__select-box .be__stepper button:active	{
	background:#D7F8F6;
}
.be__select-box .be__stepper button.disabled,
.be__select-box .be__stepper button.disabled:hover,
.be__select-box .be__stepper button.disabled:active	{
	border-color:#e2e2e2;
	color:#e2e2e2;
	background:transparent;
}
.be__select-box .be__stepper div.be__quantity	{
	border:1px solid #fff;
	background:#fff;
	color:#333;
	width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.be__select-box .be__stepper div.be__quantity.zero	{
	color:#999999;
}
.be__select-box button.be__ok	{
	border: 1px solid #6C7BFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #6C7BFF;
    opacity: .9;
    color: #fff;
    padding: 3px 20px;
    width: 100%;
    height: 55px;
}
.be__select-box button.be__ok:hover,
.be__select-box button.be__ok:active	{
	opacity:1;
}
.contact	{
	margin-top: 10px;
    float: left;
    border: 1px solid #F0F1FF;
    background:#F0F1FF;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
}
.contact .row > div[class*='col-']{
	height: 50px;
	padding:0;
}
.contact .row > div[class*='col-']:first-child	{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact i	{
	vertical-align: middle;
    color: #333;
    opacity: .15;
    font-size: 50px;
    width: 50px;
    height: 50px;
}
.contact h5	{
	color:#333;
	opacity:.3;
    font-size: 16px;
    font-weight:500;
    margin-top: 0;
}
.contact p	{
	color:#333;
	opacity:.3;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.visible-sm-down	{
	display:none;
}
.no-reservation	{
	padding-top:150px;
}
.no-reservation p	{
	color: #6C7BFF;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 40px;
    font-size:16px;
}
.no-reservation .btn.research-btn	{
    margin-bottom: 15px;
    background: #6C7BFF;
    color: #fff;
    border: 1px solid #6C7BFF;
    font-size: 16px;
    width: 80%;
    padding: 10px;
}
.no-reservation .btn.home-btn	{
	background: #fff;
    border: 1px solid #999999;
    color: #999999;
    font-size: 16px;
    width: 80%;
    padding: 10px;
}
.staffboard-quickview-btn, .chatting-quickview-btn, .manual-quickview-btn 	{
	border:2px solid #fff !important;
	position: fixed;
    top: unset;
    bottom: 23px;
    left: unset;
    right: 23px;
    border-radius: 50%;
    padding: 12px 6px;
    box-shadow: 0 0 8px 4px rgba(0,0,0,.16);
    -webkit-box-shadow: 0 0 8px 4px rgba(0,0,0,.16);
    font-size: 26px;
    width: 62px;
    height: 62px;
    z-index: 1500;
}
.btn.staffboard-quickview-btn:focus,
.btn.chatting-quickview-btn:focus,
.btn.manual-quickview-btn:focus	{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .7);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .7);
}
.btn.staffboard-quickview-btn:hover,
.btn.manual-quickview-btn:hover	{
	background-color:rgb(165,165,165);
	color:rgb(93,120,255);
}
.btn.chatting-quickview-btn {
    border-color: #6C7BFF !important;
/*     bottom: 110px; */
    background: #6C7BFF;
    color:#fff;
}
.btn.manual-quickview-btn	{
    right: 90px;
}
@media screen and (min-width: 768px)	{
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand	{
		margin-left:0;
	}
}
@media screen and (max-width: 997px) {
	.container-fluid	{
	    padding-right: 0;
    	padding-left: 0;
	}
	.header	{
		padding: 0 15px;
	}
	.navbar-toggle	{
		display:block;
		margin:0;
		padding-left: 0;
    	padding-right: 0;
	}
	.navbar-brand {
		min-width:auto;
		border-right:0;
		padding:0;
		margin:0;
	}
	.navbar-header	{
		height:50px;
		width:100%;
		justify-content:space-between;
		padding:0;
	}
	.navbar-header:before, .navbar-header:after	{
		content:none;
	}
	.navbar-brand .company-title	{
		font-size:16px;
	}
	body.sidebar-on .sidebar	{
		padding-top:0;
		width:100%;	
		left:-100%;
		top:0;
		z-index:801;
		-webkit-transition-property: left;
		transition-property: left;
		-webkit-transition-duration: 600ms;
		transition-duration: 600ms;
	}
	body.sidebar-on .sidebar.in	{
		left:0;
		-webkit-transition-property: left;
		transition-property: left;
		-webkit-transition-duration: 600ms;
		transition-duration: 600ms;
	}
	body.sidebar-on .sidebar nav	{
		display:block;
	}
	body.sidebar-on .sidebar .sidebar-menu ul.menu-items > li > a	{
		width:70%;
	}
	.sidebar .navbar-header	{
		box-shadow:none;
	}
	body.sidebar-on .body	{
		padding-left:0;
	}
	.navbar-white	{
		border-bottom:0;
	}
	.goods-title	{
		padding-top:10px;
		padding-bottom:10px;
		padding-left:20px;
		padding-right:20px;
	}
	.navbar-brand h3	{
		background-position :left;
		white-space:nowrap;
		text-align: left;
	}
	.navbar-brand p	{
		text-align: left;
	}
	.modal-dialog	{
		margin: 0;
	}
	.navbar-collapse .navbar-nav {
		width:100%;
		margin-top:0;
	}
	.navbar-collapse .navbar-nav > li	{
		width:100%;
	}
	.footer	{
		padding-top:0;
	}
	.footer a.logo, body.sidebar-on .footer a.logo	{
		display: block;
    	width: 100%;
    	text-align: center;
    	margin-top:15px;
	}
	.footer .row	{
		margin:0;
	}
	.footer .row div[class*='col-']:first-child
	, .footer .row div[class*='col-']:last-child	{
		padding-left:0;
		padding-right:0;
	}
	.footer .row div[class*='col-']:last-child	{
		margin:0;
	}
/* 	section.content	{ */
/* 		padding-bottom:183px; */
/* 	} */
	.navbar-btn.check-btn	{
		background: transparent;
		font-family:"Noto Sans KR";
		font-size:16px;
		font-weight:400;
	}
	.hidden-md.hidden-lg .navbar-btn.check-btn	{
		border: 0;
		padding:0;
	}
	.footer .footer-container p.text	{
		font-size:10px;
	}
	.footer .footer-container p.text:first-of-type	{
		margin-top:10px;
	}
	.footer .footer-container	{
		flex-direction:column;
		align-items:flex-start;
		padding:20px;
	}
	.footer .footer-container p	{
		padding-left:0;
		font-size:12px;
		margin-bottom:20px;
	}
	.footer .footer-container a img	{
		height:35px;
	}
	.sidebar	{
		left:-100%;
		width:100%;
		z-index:1010;
		padding-top:0;
	}
	.sidebar.collapse.in	{
		transform:translate3d(100%,0px,0px);
	}
	.sidebar .navbar	{
		padding-left:15px;
		padding-right:15px;
	}
	.sidebar .navbar-brand .company-title,
	.sidebar .navbar-btn.check-btn i	{
		color:#fff;
	}
	.sidebar .navbar-toggle .icon-bar	{
		background-color:#fff;
	}
	.sidebar .open-toggle	{
		display:none;
	}
	.form-group.form-group-default	{
		margin:0;
	}
	.row div[class*='col-']{
		margin-bottom:10px;
	}
	.row div[class*='col-']:first-child
	, .row div[class*='col-']:last-child	{
		padding-left:7px;
		padding-right:7px;
	}
	.row div[class*='col-']:last-child	{
		margin-bottom:0;
	}
	.checkbox label	{
		padding-left:20px;
	}
/* 	.checkbox label:before	{ */
/* 		top:3.4px; */
/* 		width:14px; */
/* 		height:14px; */
/* 	} */
	.option-select-form	{
		margin-top:0;
		flex-direction: column;
	    align-items: flex-start;
	    height: auto;
    }
    .option-select-form .option-group:first-child	{
    	margin-bottom:5px;
    }
    .option-select-form .option-group:last-child	{
    	margin-bottom:0px;
    }
    .visible-sm-down	{
    	display:block;
    }
    .hidden-sm-down	{
    	display:none;
    }
    .modal .close	{
    	left:10px;
    	right:inherit;
    }
    .navbar .home-anchor	{
    	padding-right:20px;
    }
}